[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=~/.screenlayout/home.sh
OnlyShowIn=LXDE
