/*-- scss:defaults --*/
// Base document colors
$body-bg: #EDE8DD;
$input-bg: #EDE8DD;
$popover-bg: #EDE8DD;
$code-block-bg: #EDE8DD;
$code-bg: #EDE8DD;
$navbar-bg: #EDE8DD;
// Code blocks
$code-block-bg-alpha: -.9;